<!DOCTYPE html>
<html lang="en">


<head>
    <%-include("../partials/_header.ejs") %>
</head>

<body class="rbt-header-sticky">

    <!-- Start Header Area -->
    <%-include("../partials/_navbar.ejs", {navtype:''}) %>
    <!-- End Header Area  -->
   

    <!-- Mobile Menu Section -->
    <%-include("../partials/_mobilemenu.ejs") %>


    <!-- Start breadcrumb Area -->
    <%-include("./components/_breadcrumb.ejs") %>


    <!-- End Breadcrumb Area -->

    <%-include("./components/_form.ejs") %>

    


  


   
 <!-- Start Footer aera -->
 <%-include("../partials/_footer.ejs") %>
 <!-- End Footer aera -->
 
     <!-- JS
 ============================================ -->
 <%-include("../partials/_scripts.ejs") %>
</body>

</html>