<div class="rbt-course-details-area ptb--60">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-8">
                <div class="course-details-content">
                    <div class="rbt-course-feature-box rbt-shadow-box thuumbnail">
                        <% if(course.image) {%>
                            <img class="w-100" src="<%= course.image %>" alt="Card image">
                        <% } else { %>
                            <img class="w-100" src="/assets/images/course/course-01.jpg" alt="Card image">
                        <% } %>
                       
                    </div>

                    <div class="rbt-inner-onepage-navigation sticky-top mt--30">
                        <nav class="mainmenu-nav onepagenav">
                            <ul class="mainmenu">
                                <li class="current">
                                    <a href="#overview">Açıklama</a>
                                </li>
                                <li>
                                    <a href="#coursecontent">Kurs İçeriği</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Start Course Feature Box  -->
                    <div class="rbt-course-feature-box overview-wrapper rbt-shadow-box mt--30 has-show-more" id="overview">
                        <div class="rbt-course-feature-inner has-show-more-inner-content">
                            <div class="section-title">
                                <h4 class="rbt-title-style-3"><%= course.courseContentSubtitle %></h4>
                            </div>
                            <%- course.courseContentDescription %>
                        </div>
                        <div class="rbt-show-more-btn">Show More</div>
                    </div>
                    <!-- End Course Feature Box  -->

                    <!-- Start Course Content  -->
                    <div class="course-content rbt-shadow-box coursecontent-wrapper mt--30" id="coursecontent">
                        <div class="rbt-course-feature-inner">
                            <div class="section-title">
                                <h4 class="rbt-title-style-3">Course Content</h4>
                            </div>
                            <div class="rbt-accordion-style rbt-accordion-02 accordion">
                                <div class="accordion" id="accordionExampleb2">

                                    <div class="accordion-item card">
                                        <h2 class="accordion-header card-header" id="headingTwo1">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo1">
                                                Intro to Course and Histudy <span class="rbt-badge-5 ml--10">1hr 30min</span>
                                            </button>
                                        </h2>
                                        <div id="collapseTwo1" class="accordion-collapse collapse show" aria-labelledby="headingTwo1" data-bs-parent="#accordionExampleb2">
                                            <div class="accordion-body card-body pr--0">
                                                <ul class="rbt-course-main-content liststyle">
                                                    <li>
                                                        <a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Course Intro</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="min-lable">30 min</span>
                                                                <span class="rbt-badge variation-03 bg-primary-opacity"><i class="feather-eye"></i> Preview</span>
                                                            </div>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Watch Before Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="min-lable">0.5 min</span>
                                                                <span class="rbt-badge variation-03 bg-primary-opacity"><i class="feather-eye"></i> Preview</span>
                                                            </div>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-file-text"></i> <span
                                                                    class="text">Read Before You Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item card">
                                        <h2 class="accordion-header card-header" id="headingTwo2">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                                Course Fundamentals <span class="rbt-badge-5 ml--10">2hr 30min</span>
                                            </button>
                                        </h2>
                                        <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionExampleb2">
                                            <div class="accordion-body card-body pr--0">
                                                <ul class="rbt-course-main-content liststyle">
                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Course Intro</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>
                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-file-text"></i> <span
                                                                    class="text">Read Before You Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>

                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Why You Should Not Go To
                                                                    Education.</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>

                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-file-text"></i> <span
                                                                    class="text">Read Before You Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>


                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Ten Factors That Affect Education's
                                                                    Longevity.</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>

                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-file-text"></i> <span
                                                                    class="text">Read Before You Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item card">
                                        <h2 class="accordion-header card-header" id="headingTwo3">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">
                                                You can develop skill and setup <span class="rbt-badge-5 ml--10">1hr 50min</span>
                                            </button>
                                        </h2>
                                        <div id="collapseTwo3" class="accordion-collapse collapse" aria-labelledby="headingTwo3" data-bs-parent="#accordionExampleb2">
                                            <div class="accordion-body card-body pr--0">
                                                <ul class="rbt-course-main-content liststyle">
                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Course Intro</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>
                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-file-text"></i> <span
                                                                    class="text">Read Before You Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>

                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Why You Should Not Go To
                                                                    Education.</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>

                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-file-text"></i> <span
                                                                    class="text">Read Before You Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>


                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Ten Factors That Affect Education's
                                                                    Longevity.</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>

                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-file-text"></i> <span
                                                                    class="text">Read Before You Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item card">
                                        <h2 class="accordion-header card-header" id="headingTwo4">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                                                15 Things To Know About Education? <span class="rbt-badge-5 ml--10">2hr 60min</span>
                                            </button>
                                        </h2>
                                        <div id="collapseTwo4" class="accordion-collapse collapse" aria-labelledby="headingTwo4" data-bs-parent="#accordionExampleb2">
                                            <div class="accordion-body card-body pr--0">
                                                <ul class="rbt-course-main-content liststyle">
                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Course Intro</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>
                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-file-text"></i> <span
                                                                    class="text">Read Before You Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>

                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Why You Should Not Go To
                                                                    Education.</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>

                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-file-text"></i> <span
                                                                    class="text">Read Before You Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>


                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Ten Factors That Affect Education's
                                                                    Longevity.</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>

                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-file-text"></i> <span
                                                                    class="text">Read Before You Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item card">
                                        <h2 class="accordion-header card-header" id="headingTwo5">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo5">
                                                Course Description <span class="rbt-badge-5 ml--10">2hr 20min</span>
                                            </button>
                                        </h2>
                                        <div id="collapseTwo5" class="accordion-collapse collapse" aria-labelledby="headingTwo5" data-bs-parent="#accordionExampleb2">
                                            <div class="accordion-body card-body pr--0">
                                                <ul class="rbt-course-main-content liststyle">
                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Course Intro</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>
                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-file-text"></i> <span
                                                                    class="text">Read Before You Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>

                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Why You Should Not Go To
                                                                    Education.</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>

                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-file-text"></i> <span
                                                                    class="text">Read Before You Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>


                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i> <span
                                                                    class="text">Ten Factors That Affect Education's
                                                                    Longevity.</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>

                                                    <li><a href="lesson.html">
                                                            <div class="course-content-left">
                                                                <i class="feather-file-text"></i> <span
                                                                    class="text">Read Before You Start</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="course-lock"><i class="feather-lock"></i></span>
                                                            </div>
                                                        </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Course Content  -->

                </div>

            </div>

            <div class="col-lg-4">
                <div class="course-sidebar sticky-top rbt-shadow-box course-sidebar-top rbt-gradient-border">
                    <div class="inner">

                        <!-- Start Viedo Wrapper  -->
                       
                            <% if(course.promotionalLink){ %>
                                <a class="video-popup-with-text video-popup-wrapper text-center popup-video sidebar-video-hidden mb--15"  href="<%= course.promotionalLink %>">
                            <% } else {%>
                                <a class="video-popup-with-text video-popup-wrapper text-center popup-video sidebar-video-hidden mb--15"  href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                            <% } %>
                       
                            <div class="video-content">
                                <% if(course.promotionalImage){ %>
                                    <img class="w-100 rbt-radius" src="<%= course.promotionalImage %>" alt="Video Images">
                                <% } else {%>
                                    <img class="w-100 rbt-radius" src="/assets/images/others/video-01.jpg" alt="Video Images">
                                <% } %>
                                <div class="position-to-top">
                                    <span class="rbt-btn rounded-player-2 with-animation">
                                        <span class="play-icon"></span>
                                    </span>
                                </div>
                                <span class="play-view-text d-block color-white"><i class="feather-eye"></i> Preview this course</span>
                            </div>
                        </a>
                        <!-- End Viedo Wrapper  -->

                        <div class="content-item-content">
                            <div class="rbt-price-wrapper d-flex flex-wrap align-items-center justify-content-between">
                                <div class="rbt-price">
                                    <span class="current-price"><%= course.price %> ₺</span>
                                </div>
                                <div class="discount-time">
                                    <span class="rbt-badge color-danger bg-color-danger-opacity"><i
                                            class="feather-clock"></i> 3 days left!</span>
                                </div>
                            </div>

                            <div class="add-to-card-button mt--15">
                                <a class="rbt-btn btn-gradient icon-hover w-100 d-block text-center" href="#">
                                    <span class="btn-text">Add to Cart</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </a>
                            </div>

                            <div class="buy-now-btn mt--15">
                                <a class="rbt-btn btn-border icon-hover w-100 d-block text-center" href="#">
                                    <span class="btn-text">Buy Now</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </a>
                            </div>

                            <span class="subtitle"><i class="feather-rotate-ccw"></i> 30-Day Money-Back
                                Guarantee</span>


                            <div class="rbt-widget-details has-show-more">
                                <ul class="has-show-more-inner-content rbt-course-details-list-wrapper">
                                    <li><span>Start Date</span><span class="rbt-feature-value rbt-badge-5"><%= course.courseStartDate.toLocaleString() %></span>
                                    </li>
                                    <li><span>Enrolled</span><span class="rbt-feature-value rbt-badge-5">100</span></li>
                                    <li><span>Lectures</span><span class="rbt-feature-value rbt-badge-5">50</span></li>
                                    <li><span>Skill Level</span><span class="rbt-feature-value rbt-badge-5">Basic</span></li>
                                    <li><span>Language</span><span class="rbt-feature-value rbt-badge-5">English</span></li>
                                    <li><span>Quizzes</span><span class="rbt-feature-value rbt-badge-5">10</span></li>
                                    <li><span>Certificate</span><span class="rbt-feature-value rbt-badge-5">Yes</span></li>
                                    <li><span>Pass Percentage</span><span class="rbt-feature-value rbt-badge-5">95%</span></li>
                                </ul>
                                <div class="rbt-show-more-btn">Show More</div>
                            </div>

                            <div class="social-share-wrapper mt--30 text-center">
                                <div class="rbt-post-share d-flex align-items-center justify-content-center">
                                    <ul class="social-icon social-default transparent-with-border justify-content-center">
                                        <li><a href="https://www.facebook.com/">
                                                <i class="feather-facebook"></i>
                                            </a>
                                        </li>
                                        <li><a href="https://www.twitter.com">
                                                <i class="feather-twitter"></i>
                                            </a>
                                        </li>
                                        <li><a href="https://www.instagram.com/">
                                                <i class="feather-instagram"></i>
                                            </a>
                                        </li>
                                        <li><a href="https://www.linkdin.com/">
                                                <i class="feather-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <hr class="mt--20">
                                <div class="contact-with-us text-center">
                                    <p>For details about the course</p>
                                    <p class="rbt-badge-2 mt--10 justify-content-center w-100"><i class="feather-phone mr--5"></i> Call Us: <a href="#"><strong>+444 555 666 777</strong></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>