<div class="rbt-about-area about-style-1 bg-color-white rbt-section-gapTop">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="thumbnail-wrapper">
                    <div class="thumbnail image-1">
                        <img data-parallax='{"x": 0, "y": -20}' src="<%- aboutArena.content.image1 %>" alt="Education Images">
                    </div>
                    <div class="thumbnail image-2 d-none d-xl-block">
                        <img data-parallax='{"x": 0, "y": 60}' src="<%- aboutArena.content.image2 %>" alt="Education Images">
                    </div>
                    <div class="thumbnail image-3 d-none d-md-block">
                        <img data-parallax='{"x": 0, "y": 80}' src="<%- aboutArena.content.image3 %>" alt="Education Images">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="inner pl--50 pl_sm--0 pl_md--0">
                    <div class="section-title text-start">
                        <span class="subtitle bg-coral-opacity"><%- aboutArena.content.title %></span>
                        <h2 class="title"><%- aboutArena.content.short_description %></h2>
                    </div>
                    <p class="description mt--30"><%- aboutArena.content.content %></p>
                    <!-- Start Feature List  -->
                    
                    <!-- End Feature List  -->
                    <div class="about-btn mt--40">
                        <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                            <span class="icon-reverse-wrapper">
                        <span class="btn-text"><%- aboutArena.content.buttonText %></span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>