<div class="rbt-video-area rbt-section-gapBottom pt--50 bg-color-white">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="inner pr--50">
                    <div class="section-title text-start">
                        <span class="subtitle bg-primary-opacity"><%- buttonArena.content.title %></span>
                        <h2 class="title"><%- buttonArena.content.subtitle %></h2>
                        <p class="description mt--30"><%- buttonArena.content.short_description %></p>
                        <div class="read-more-btn">
                            <a class="rbt-moderbt-btn" href="#">
                                <span class="moderbt-btn-text"><%- buttonArena.content.buttonText %></span>
                                <i class="feather-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="video-popup-wrapper">
                    <img class="w-100 rbt-radius" src="<%- buttonArena.content.image %>" alt="Video Images">
                    <a class="popup-video position-to-top" href="<%- buttonArena.content.youtubeLink %>">
                        <span><img src="assets/images/icons/youtube.png" alt=""></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>