<div class="rbt-section-overlayping-top rbt-section-gapBottom">
  <div class="container">
    <!-- Start Card Area -->
    <div class="row">
      <div class="col-lg-12">
        <div class="tab-content" id="rbt-myTabContent">
          <div
            class="tab-pane fade show active"
            id="all"
            role="tabpanel"
            aria-labelledby="all-tab"
          >
            <div class="rbt-course-grid-column">
                <% if(courses.length > 0) { %> 
                    <% for(course of courses) { %>
                    <!-- Start Single Course  -->
                    <div class="course-grid-3">
                        <div class="rbt-card variation-01 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="/course-detail/<%= course.seoUrl %>">
                                <% if(course.image) { %> 
                                    <img
                                    src="<%= course.image %>"
                                    alt="Card image"
                                />
                                <% } else { %>
                                    <img
                                src="assets/images/course/language-academy-01.jpg"
                                alt="Card image"
                            />
                                <% } %>


                            
                            <div class="rbt-badge-3 bg-white">
                                <span>-40%</span>
                                <span>Off</span>
                            </div>
                            </a>
                        </div>
                        <div class="rbt-card-body">
                            <div class="rbt-card-top">
                            <div class="rbt-review">
                                <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-bookmark-btn">
                                <a class="rbt-round-btn" title="Bookmark" href="#"
                                ><i class="feather-bookmark"></i
                                ></a>
                            </div>
                            </div>

                            <h4 class="rbt-card-title">
                            <a href="/course-detail/<%= course.seoUrl %>"><%= course.title %></a>
                            </h4>

                            <ul class="rbt-meta">
                            <li><i class="feather-book"></i>12 Lessons</li>
                            <li><i class="feather-users"></i>50 Students</li>
                            </ul>

                            <p class="rbt-card-text">
                                <%- course.content %>
                            </p>
                            <div class="rbt-author-meta mb--10">

                            </div>
                            <div class="rbt-card-bottom">
                            <div class="rbt-price">
                                <span class="current-price"><%= course.price %> ₺</span>
                            </div>
                            <a class="rbt-btn-link" href="/course-detail/<%= course.seoUrl %>"
                                >Learn More<i class="feather-arrow-right"></i
                            ></a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- End Single Course  -->
                    <% } %>
                <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
