<div class="rbt-splash-slider d-flex align-items-center">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-12 col-xl-6 order-2 order-xl-1">
                    <div class="inner">

                        <h1 class="title"><%-sliderArena.content.title %>
                            <span class="cd-headline slide">
                                <span class="cd-words-wrapper">
                                    <b class="is-hidden theme-gradient"><%-sliderArena.content.title_subtitle1 %></b>
                                    <b class="is-visible theme-gradient"><%-sliderArena.content.title_subtitle2 %></b>
                                    <b class="is-hidden theme-gradient"><%-sliderArena.content.title_subtitle3 %></b>
                                    <b class="is-hidden theme-gradient"><%-sliderArena.content.title_subtitle4 %></b>
                                    <b class="is-hidden theme-gradient"><%-sliderArena.content.title_subtitle5 %></b>
                                    <b class="is-hidden theme-gradient"><%-sliderArena.content.title_subtitle6 %></b>
                                </span>
                            </span>
                        </h1>
                        <p class="description"><%-sliderArena.content.short_description %>
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-6 order-1 order-xl-2">
                    <div class="video-popup-wrapper">
                        <img class="w-100 rbt-radius" src="<%= sliderArena.content.bannergroup %>" alt="Video Images">
                        <a class="rbt-btn rounded-player-2 popup-video position-to-top with-animation d-none" href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                            <span class="play-icon"></span>
                        </a>
                        <div class="banner-group-shape">
                            <div class="shape-image scene shape-4">
                                <span data-depth="2">
                                    <img src="<%-sliderArena.content.shape1 %>" alt="Shape Images">
                                </span>
                            </div>
                            <div class="shape-image scene shape-5">
                                <span data-depth="-2">
                                    <img src="<%-sliderArena.content.shape2 %>" alt="Shape Images">
                                </span>
                            </div>
                            <div class="shape-image scene shape-6">
                                <span data-depth="5">
                                    <img src="<%-sliderArena.content.shape3 %>" alt="Shape Images">
                                </span>
                            </div>
                            <div class="shape-image scene shape-7">
                                <span data-depth="-3">
                                    <img src="<%-sliderArena.content.shape4 %>" alt="Shape Images">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <div class="splash-service-main position-relative">
                        <div class="service-wrapper service-white">
                            <div class="row g-0">
                                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="<%-sliderArena.content.icon1 %>" alt="Icon Images">
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><%-sliderArena.content.category1Title %></h4>
                                            <p><%-sliderArena.content.category1short_description %></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="<%-sliderArena.content.icon2 %>" alt="Icon Images">
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><%-sliderArena.content.category2Title %></h4>
                                            <p><%-sliderArena.content.category2short_description %></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="<%-sliderArena.content.icon3 %>" alt="Icon Images">
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><%-sliderArena.content.category3Title %></h4>
                                            <p><%-sliderArena.content.category3short_description %></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="<%-sliderArena.content.icon4 %>" alt="Icon Images">
                                        </div>
                                        <div class="content">
                                            <h4 class="title"><%-sliderArena.content.category4Title %></h4>
                                            <p><%-sliderArena.content.category4short_description %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="shape-wrapper">
        <div class="shape-image shape-1">
            <img src="/assets/images/splash/icons/shape-1.png" alt="Shape Images">
        </div>
        <div class="shape-image shape-2">
            <img src="/assets/images/splash/icons/shape-2.png" alt="Shape Images">
        </div>
        <div class="shape-image shape-3">
            <img src="/assets/images/splash/icons/shape-3.png" alt="Shape Images">
        </div>
    </div>
</div>